<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.AddressMapper">


	<resultMap type="Address" id="addressResult">
		<id property="id" column="id"></id>
		<result property="name" column="type"></result>
		<result property="openId" column="type"></result>
		<result property="wechatId" column="type"></result>
		<result property="phone" column="type"></result>
		<result property="address" column="type"></result>
	</resultMap>

	<insert id="add" parameterType="Address" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
		insert into address
		(name,openId,wechatId,phone,address)
		values(#{name},#{openId},#{wechatId},#{phone},#{address})
	</insert>

	<select id="getAllByOpenId" resultType="Address">
		select * from
		address
		where
		openId=#{openId};
	</select>
</mapper>