<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.xuwuji.eshop.db.mapper.BarginOrderHistoryMapper">

	<resultMap type="BarginOrderHistory"
		id="barginOrderHistoryResult">
		<id property="id" column="id"></id>
		<result property="barginOrderId" column="type"></result>
		<result property="sourceUser" column="type"></result>
		<result property="openUser" column="type"></result>
		<result property="occur" column="java.util.Date"></result>
	</resultMap>

	<insert id="add" parameterType="BarginOrderHistory"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into
		barginorderhistory
		(barginOrderId,sourceUser,openUser,occur)
		values(#{barginOrderId},#{sourceUser},#{openUser},#{occur})
	</insert>

	<select id="getByBarginOrderId" resultType="BarginOrderHistory">
		select * from
		barginorderhistory
		where
		barginOrderId=#{barginOrderId};
	</select>

	<select id="checkExist" resultType="BarginOrderHistory">
		select * from
		barginorderhistory
		where
		sourceUser =#{sourceUser} and
		openUser=#{openUser} and
		barginOrderId=#{barginOrderId};
	</select>

</mapper>