<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.BrandMapper">


	<resultMap type="Brand" id="brandResult">
		<id property="id" column="id"></id>
		<result property="brandCN" column="type"></result>
		<result property="state" column="type"></result>
		<result property="brandEN" column="type"></result>
		<result property="country" column="type"></result>
		<result property="brandLevel" column="type"></result>
		<result property="state" column="type"></result>

	</resultMap>

	<insert id="add" parameterType="hashmap" useGeneratedKeys="true"
		keyProperty="id">
		insert into brand
		(brandCN,brandEN,brandLevel,country,state)
		values(#{brandCN},#{brandEN},#{brandLevel},#{country},'0')
	</insert>

	<update id="update" parameterType="hashmap">
		update brand set
		brandCN=#{brandCN},brandEN=#{brandEN},brandLevel=#{brandLevel},country=#{country}
		where id=#{id};
	</update>

	<update id="disable" parameterType="hashmap">
		update brand set
		state='0'
		where id=#{id};
	</update>

	<update id="reActive" parameterType="hashmap">
		update brand set
		state='1'
		where id=#{id};
	</update>

	<select id="getAll" resultType="brand">
		select * from
		brand;
	</select>

	<select id="getActiveAll" resultType="brand">
		select * from
		brand where
		state='1';
	</select>

</mapper>