<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.FormatMapper">


	<resultMap type="Format" id="formatResult">
		<id property="id" column="id"></id>
		<result property="name" column="type"></result>
		<result property="price" column="type"></result>
		<result property="productId" column="type"></result>
		<result property="flashPrice" column="type"></result>
	</resultMap>

	<insert id="add" parameterType="hashmap" useGeneratedKeys="true"
		keyProperty="id">
		insert into format
		(name,price,flashPrice,productId,state)
		values(#{name},#{price},#{flashPrice},#{productId},'0')
	</insert>

	<update id="update" parameterType="hashmap">
		update format set
		name=#{name},price=#{price},flashPrice=#{flashPrice}
		where id=#{id};
	</update>

	<update id="disable" parameterType="hashmap">
		update format set
		state='0'
		where id=#{id};
	</update>

	<update id="reActive" parameterType="hashmap">
		update format set
		state='1'
		where id=#{id};
	</update>

	<select id="getAllByProductId" resultType="Format">
		select * from
		format
		where
		productId=#{productId};
	</select>

	<select id="getActiveByProductId" resultType="Format">
		select * from
		format where
		productId=#{productId} and state='1';
	</select>

</mapper>