<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.HistoryMapper">


	<resultMap type="History" id="HistoryResult">
		<id property="id" column="id"></id>
		<result property="openId" column="type"></result>
		<result property="productId" column="type"></result>
		<result property="categoryId" column="type"></result>
		<result property="time" column="DATE" javaType="java.util.Date"
			jdbcType="DATE"></result>
	</resultMap>

	<insert id="add" parameterType="History" useGeneratedKeys="true"
		keyProperty="id">
		insert into history
		(openId,productId,categoryId,time)
		values(#{openId},#{productId},#{categoryId},now())
	</insert>

	<select id="getAllByOpenId" resultType="History"
		parameterType="hashmap">
		select * from history where openId=#{openId} group by
		productId order by time desc
	</select>

</mapper>