<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.OrderMapper">


	<resultMap type="Order" id="orderResult">
		<id property="id" column="id"></id>
		<result property="time" column="DATE" javaType="java.util.Date"
			jdbcType="DATE"></result>
		<result property="lastModifyTime" column="DATE"
			javaType="java.util.Date" jdbcType="DATE"></result>
		<result property="wechatId" column="type"></result>
		<result property="state" column="type"></result>
		<result property="orderId" column="type"></result>
		<result property="phoneNum" column="type"></result>
		<result property="amount" column="type"></result>
		<result property="totalCount" column="type"></result>
		<result property="recieverName" column="type"></result>
		<result property="address" column="type"></result>
		<result property="openId" column="type"></result>
		<result property="logisticsId" column="type"></result>
		<result property="logisticsName" column="type"></result>
		<result property="memo" column="type"></result>
		<result property="source" column="type"></result>
		<result property="sourceWechatId" column="type"></result>
		<result property="sourceOpenId" column="type"></result>
		<result property="bonusAmount" column="type"></result>
		<result property="promotionIds" column="type"></result>

	</resultMap>

	<insert id="add" parameterType="Order" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
		insert into eshoporder
		(wechatId,promotionIds,time,state,orderId,phoneNum,amount,totalCount,recieverName,address,openId,memo,source,sourceOpenId,sourceWechatId)
		values(#{wechatId},#{promotionIds},#{time},'0',#{orderId},#{phoneNum},#{amount},#{totalCount},#{recieverName},#{address},#{openId},#{memo},#{source},#{sourceOpenId},#{sourceWechatId})
	</insert>

	<update id="update" parameterType="hashmap">
		update eshoporder set
		lastModifyTime = now()
		<if test="state != null and state !=''">
			,state=#{state}
		</if>
		<if test="logisticsId != null and logisticsId !=''">
			,logisticsId=#{logisticsId}
		</if>
		<if test="logisticsName != null and logisticsName !=''">
			,logisticsName=#{logisticsName}
		</if>
		<if test="memo != null and memo !=''">
			,memo=#{memo}
		</if>
		where
		orderId=#{orderId};
	</update>

	<update id="updateMemo" parameterType="hashmap">
		update eshoporder set
		lastModifyTime = now(),
		memo=#{memo}
		where
		orderId=#{orderId};
	</update>

	<select id="getAllByWechatIdAndState" resultType="order">
		select * from
		eshoporder
		where
		wechatId=#{wechatId} and state=#{state};
	</select>

	<select id="getAllByOpenIdAndState" resultType="order">
		select * from
		eshoporder where
		openId=#{openId} and state=#{state};
	</select>

	<select id="getOrderInfoByOrderId" resultType="order">
		select
		eshoporder.*, user.bonusAmount from eshoporder left join user
		on
		eshoporder.openId=user.openId where eshoporder.orderId=#{orderId} ;
	</select>

	<select id="getAll" resultType="order">
		select * from
		eshoporder ;
	</select>

</mapper>