<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.xuwuji.eshop.db.mapper.ParentCategoryMapper">

	<!-- <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" 
		type="org.mybatis.caches.redis.RedisCache" /> -->

	<resultMap type="parentcategory" id="parentcategoryResult">
		<id property="id" column="id"></id>
		<result property="name" column="type"></result>
		<result property="state" column="state"></result>
	</resultMap>

	<insert id="add" parameterType="hashmap" useGeneratedKeys="true"
		keyProperty="id">
		insert into parentcategory (name,state)
		values(#{name},'0')
	</insert>

	<update id="disable" parameterType="hashmap">
		update parentcategory set
		state='0'
		where id=#{id};
	</update>

	<update id="reActive" parameterType="hashmap">
		update parentcategory set
		state='1'
		where id=#{id};
	</update>

	<update id="update" parameterType="hashmap">
		update parentcategory set
		name=#{name}
		where id=#{id};
	</update>

	<select id="getAll" resultType="parentcategory">
		select * from
		parentcategory;
	</select>

	<select id="getActiveAll" resultType="parentcategory">
		select * from
		parentcategory where state='1';
	</select>

</mapper>