<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.ProductMapper">

	<resultMap type="Product" id="productResult">
		<id property="id" column="id"></id>
		<result property="name" column="type"></result>
		<result property="description" column="type"></result>
		<result property="price" column="type"></result>
		<result property="hkPrice" column="type"></result>
		<result property="inventory" column="type"></result>
		<result property="salesCount" column="type"></result>
		<result property="mainImgUrl" column="type"></result>
		<result property="parentCategoryId" column="type"></result>
		<result property="categoryId" column="type"></result>
		<result property="brandNameCN" column="type"></result>
		<result property="brandNameEN" column="type"></result>
		<result property="state" column="type"></result>
		<result property="bannerItemId" column="type"></result>
		<result property="bannerItemName" column="type"></result>
		<result property="country" column="type"></result>
		<result property="brandId" column="type"></result>
		<result property="imgUrl1" column="type"></result>
		<result property="imgUrl2" column="type"></result>
		<result property="imgUrl3" column="type"></result>
		<result property="imgUrl4" column="type"></result>
		<result property="flashPrice" column="type"></result>
		<result property="flashState" column="type"></result>
	</resultMap>

	<insert id="add" parameterType="Product" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id">
		insert into product
		(name,description,price,inventory,salesCount,parentCategoryId,categoryId,
		state,flashState,hkPrice)
		values(#{name},#{description},#{price},#{inventory},#{salesCount},#{parentCategoryId},#{categoryId},'0','0',#{hkPrice})
	</insert>

	<update id="disable" parameterType="hashmap">
		update product set
		state='0'
		where id=#{id};
	</update>

	<update id="reActive" parameterType="hashmap">
		update product set
		state='1'
		where id=#{id};
	</update>

	<update id="updateBannerItem" parameterType="hashmap">
		update product set
		bannerItemId=#{bannerItemId}
		where id=#{id};
	</update>

	<update id="updateBrand" parameterType="hashmap">
		update product set
		brandId=#{brandId}
		where id=#{id};
	</update>

	<update id="updateImgUrl" parameterType="hashmap">
		update product set
		mainImgUrl=#{mainImgUrl},
		imgUrl1=#{imgUrl1},imgUrl2=#{imgUrl2},imgUrl3=#{imgUrl3},imgUrl4=#{imgUrl4}
		where id=#{id};
	</update>

	<update id="update" parameterType="hashmap">
		update product set
		name=#{name},description=#{description},price=#{price},inventory=#{inventory},
		salesCount=#{salesCount},mainImgUrl=#{mainImgUrl},parentCategoryId=#{parentCategoryId},
		categoryId=#{categoryId},flashPrice=#{flashPrice},flashState=#{flashState},hkPrice=#{hkPrice}
		where id=#{id};
	</update>
	
	<update id="updatePrice" parameterType="hashmap">
		update product set
		price=#{price}
		where id=#{id};
	</update>

	<select id="getByCategory" resultType="Product" parameterType="hashmap">
		select * from
		product where
		categoryId=#{categoryId}; ;
	</select>

	<select id="getDetailByCategory" resultType="Product"
		parameterType="hashmap">
		select * from product as p left join (select
		banneritem.id,banneritem.name as bannerItemName, banneritem.bannerId
		from banneritem ) b on p.bannerItemId= b.id
		left join (SELECT
		brand.brandCN as brandNameCN,brand.brandEN as
		brandNameEN,brand.id from
		brand) bb on p.brandId=bb.id where
		p.categoryId=#{categoryId};
	</select>

	<select id="getActiveByCategory" resultType="Product"
		parameterType="hashmap">
		select * from
		product where
		categoryId=#{categoryId} and
		state='1' ;
	</select>

	<select id="getActiveByCategoryOrderById" resultType="Product"
		parameterType="hashmap">
		select * from
		product where
		categoryId=#{categoryId} and
		state='1' order by id desc;
	</select>

	<select id="getActiveByCategoryOrderByPrice" resultType="Product"
		parameterType="hashmap">
		select * from
		product where
		categoryId=#{categoryId} and
		state='1' order by price desc;
	</select>

	<select id="getActiveByCategoryOrderBySalesCount" resultType="Product"
		parameterType="hashmap">
		select * from
		product where
		categoryId=#{categoryId} and
		state='1' order by salesCount desc;
	</select>

	<select id="getById" resultType="Product" parameterType="hashmap">
		select *
		from
		product where
		id=#{id};
	</select>

	<select id="getActiveByKW" resultType="Product" parameterType="hashmap">
		select * from
		product where name like
		CONCAT('%',#{KW},'%')
		and state
		='1';
	</select>

	<select id="getActiveByBannerItem" resultType="Product"
		parameterType="hashmap">
		select * from
		product where bannerItemId=#{bannerItemId}
		and state
		='1';
	</select>

	<select id="getActiveByBrandId" resultType="Product"
		parameterType="hashmap">
		select * from
		product where brandId=#{brandId}
		and state
		='1';
	</select>

	<select id="getRankByTop" resultType="Product" parameterType="hashmap">
		select * from
		product where state='1' order by salesCount desc limit
		10;
	</select>

	<select id="getActiveByFlash" resultType="Product"
		parameterType="hashmap">
		select * from
		product where state
		='1' and flashState="1";
	</select>

	<select id="getMultiByIds" resultType="Product" parameterType="hashmap">
		select * from
		product where state
		='1' and id in
		<foreach item="item" index="index" collection="ids" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>