<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.PromotionMapper">

	<resultMap type="promotion" id="promotionResult">
		<id property="id" column="id"></id>
		<result property="name" column="type"></result>
		<result property="target" column="type"></result>
		<result property="type" column="type"></result>
		<result property="rule" column="type"></result>
		<result property="total" column="type"></result>
		<result property="amount" column="type"></result>
		<result property="reduction" column="type"></result>
		<result property="gift" column="type"></result>
		<result property="brandId" column="type"></result>
		<result property="categoryId" column="type"></result>
		<result property="state" column="type"></result>
	</resultMap>

	<insert id="add" parameterType="hashmap" useGeneratedKeys="true"
		keyProperty="id">
		insert into promotion
		(name,target,type,rule,total,amount,reduction,gift,brandId,categoryId,state)
		values(#{name},#{target},#{type},#{rule},#{total},#{amount},#{reduction},#{gift},#{brandId},#{categoryId},'0')
	</insert>

	<update id="update" parameterType="hashmap">
		update promotion set
		name=#{name},target=#{target},type=#{type},#{rule}=#{rule},#{total}=#{total},amount=#{amount},
		reduction=#{reduction},gift=#{gift},brandId=#{brandId},categoryId=#{categoryId}
		where id=#{id};
	</update>

	<update id="disable" parameterType="hashmap">
		update promotion set
		state='0'
		where id=#{id};
	</update>

	<update id="reActive" parameterType="hashmap">
		update promotion set
		state='1'
		where id=#{id};
	</update>

	<select id="getAll" resultType="promotion">
		select * from
		promotion;
	</select>

	<select id="getActiveAll" resultType="promotion">
		select * from
		promotion
		where
		state='1';
	</select>

	<select id="getActiveAllByBrandId" resultType="promotion"
		parameterType="hashmap">
		select * from
		promotion where
		brandId=#{brandId} and
		state='1';
	</select>

	<select id="getActiveAllByCategoryId" resultType="promotion"
		parameterType="hashmap">
		select * from
		promotion where
		categoryId=#{categoryId} and
		state='1';
	</select>

</mapper>