<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.eshop.db.mapper.TreasureItemMapper">


	<resultMap type="TreasureItem" id="TreasureItemResult">
		<id property="id" column="id"></id>
		<result property="productId" column="type"></result>
		<result property="formatId" column="type"></result>
		<result property="totalCount" column="type"></result>
		<result property="currentCount" column="type"></result>
		<result property="state" column="type"></result>
	</resultMap>

	<insert id="add" parameterType="TreasureItem"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into
		treasureitem
		(productId,formatId,totalCount,currentCount,state)
		values(#{productId},#{formatId},#{totalCount},#{currentCount},'0')
	</insert>

	<update id="update">
		update
		treasureitem
		set productId=#{productId},
		totalCount=#{totalCount},currentCount=#{currentCount},formatId=#{formatId}
		where
		id=#{id};
	</update>

	<select id="getActiveAll" resultType="TreasureItem">
		select * from
		treasureitem
		where
		state='1';
	</select>

	<select id="getById" resultType="TreasureItem">
		select * from
		treasureitem
		where
		id=#{id};
	</select>

	<select id="getAll" resultType="TreasureItem">
		select * from
		treasureitem
	</select>

	<update id="disable">
		update treasureitem set state
		='0'
		where id=#{id}
	</update>

	<update id="reactive">
		update treasureitem set state
		='1'
		where id=#{id}
	</update>
</mapper>