<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.db.mapper.NewsMapper">

	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"
		type="org.mybatis.caches.redis.RedisCache" />



	<resultMap id="NewsResult" type="News">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="link" column="link" />
		<result property="time" column="time" />
		<result property="content" column="content" />
		<result property="introduce" column="introduce" />
		<result property="commentNum" column="commentNum" />
		<result property="typeId" column="typeId" />
	</resultMap>

	<resultMap id="NewsResultInfo" type="News">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="link" column="link" />
		<result property="time" column="time" />
		<result property="commentNum" column="commentNum" />
		<result property="introduce" column="introduce" />
		<result property="typeId" column="typeId" />
		<association property="type" javaType="String">
			<result property="type" column="type"></result>
		</association>
	</resultMap>

	<!-- To execute this statement, MyBatis will perform the following sequence 
		of actions. 1. Create a PreparedStatement interface with placeholders as 
		follows: PreparedStatement pstmt = connection.prepareStatement ("NSERT INTO 
		news(title,link,category,time,content) VALUES(?,?,?,?,?)"); 2. Check the 
		property type of title in the News object and use the appropriate setXXX 
		method to set the value. Here title is of the type String, so it will use 
		the setString() method. pstmt.setInt(1,student.getTitle()); 3. Similarly,do 
		the same process for the rest properties -->
	<insert id="insertNews" parameterType="News" keyProperty="id"
		useGeneratedKeys="true">
		INSERT
		INTO
		news(title,link,time,commentNum,typeId,imgLink,introduce)
		VALUES(#{title},#{link},#{time},#{commentNum},#{typeId},#{imgLink},#{introduce})
	</insert>

	<insert id="insertNewsContent" parameterType="hashmap">
		INSERT
		INTO
		news_content(id,content)
		VALUES(#{id},#{content})
	</insert>

	<select id="findByKeyword" parameterType="String" resultMap="NewsResult">
		select * from news where title like "%"#{keyword}"%"
	</select>

	<select id="findHotNews" parameterType="hashmap" resultMap="NewsResult">
		select distinct * from news where
		time > #{time}
		<if test="type!=''">
			and typeId in (select id from news_meta where
			type=#{type})
		</if>
		order by commentNum
		DESC limit
		15;
	</select>


	<select id="findByTitle" parameterType="String" resultMap="NewsResult">
		select * from news where title=#{title};
	</select>


	<select id="findById" parameterType="int" resultType="News">
		select
		news.*,news_meta.type
		from news,news_meta where news.id=#{id} and
		news.typeId=news_meta.id;
	</select>

	<select id="findContentById" parameterType="int" resultType="String">
		select
		content
		from news_content where id=#{id};
	</select>

	<select id="findInfoById" parameterType="int" resultMap="NewsResultInfo">
		select
		news.title,
		news.time,news.link,news.commentNum,news_meta.type from
		news,
		news_meta where
		news.id=#{id} and news.typeId=news_meta.id;
	</select>

	<select id="findNewsByCategory" parameterType="hashmap"
		resultMap="NewsResult">
		select
		* from news
		where typeId in
		<foreach item="id" collection="typeId" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>

	<!-- Let us see another example of a <select> mapped statement showing how 
		to populate query results into HashMap as follows. In this case, the column 
		names will be the key and the column value will be the value. -->
	<select id="findNewsByCategory2" parameterType="hashmap"
		resultType="map">
		select
		* from news
		where typeId in
		<foreach item="id" collection="typeId" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>
</mapper>