<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.db.mapper.UserMapper">

	<resultMap type="User" id="userMap">
		<id property="id" column="id"></id>
		<result property="username" column="username"></result>
		<result property="password" column="password"></result>
	</resultMap>

	<select id="getId" parameterType="hashmap" resultMap="userMap">
		select *
		from user where username=#{username} and password=#{password};
	</select>

	<select id="getByName" parameterType="String" resultMap="userMap">
		select
		*
		from user where username=#{username};
	</select>

	<insert id="insertOneRecord" parameterType="hashmap">
		insert into user
		(username,password) values(#{username},#{password});
	</insert>

	<update id="updateImg" parameterType="hashmap">
		update user set imgLink=#{imgLink} where id=#{id};
	</update>

</mapper>