<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuwuji.news.mapper.NewsMapper">

	<!-- To execute this statement, MyBatis will perform the following sequence 
		of actions. 1. Create a PreparedStatement interface with placeholders as 
		follows: PreparedStatement pstmt = connection.prepareStatement ("NSERT INTO 
		news(title,link,category,time,content) VALUES(?,?,?,?,?)"); 2. Check the 
		property type of title in the News object and use the appropriate setXXX 
		method to set the value. Here title is of the type String, so it will use 
		the setString() method. pstmt.setInt(1,student.getTitle()); 3. Similarly,do 
		the same process for the rest properties -->
	<insert id="insertNews" parameterType="News">
		INSERT INTO
		news(title,link,type,bigCategory,subCategory,time,content)
		VALUES(#{title},#{link},#{type},#{bigCategory},#{subCategory},#{time},#{content})
	</insert>

	<resultMap type="News" id="NewsResult">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="link" column="link" />
		<result property="category" column="category" />
		<result property="time" column="time" />
		<result property="content" column="content" />
	</resultMap>

	<resultMap type="News" id="Types">
		<result property="type" column="type" />
	</resultMap>

	<select id="findByKeyword" parameterType="String" resultMap="NewsResult">
		select * from news where title like "%"#{keyword}"%"
	</select>

	<select id="getTypes" resultType="string">
		select distinct(type) as type
		from news;
	</select>

	<select id="getBigCategoryByType" parameterType="String"
		resultType="string">
		select
		distinct(bigCategory) as bigCategory
		from news where
		type=#{type};
	</select>

	<select id="getsubCategoryByBig" parameterType="String"
		resultType="string">
		select distinct(subCategory) as subCategory from news where
		bigCategory
		=#{bigCategory}
	</select>

	<select id="findNewsByCategory" resultMap="NewsResult">
		select
		* from news
		where type=#{type} and
		bigCategory=#{bigCategory} and
		subCategory=#{subCategory}
	</select>
</mapper>