<!--POST START-->
<div class="single_wrap" ng-controller="contentController">
    <div class="single_post">

        <div class="post-194 post type-post status-publish format-standard hentry category-uncategorized" id="post-194">

            <!--EDIT BUTTON START-->
            <!--EDIT BUTTON END-->

            <!--POST START-->
            <div class="single_post_content">

                <h1 class="postitle entry-title">{{detail.title}}</h1>
                <!--POST INFO START-->
                <div class="single_metainfo ">
                    <!--DATE-->
                    <i class="fa fa-calendar"></i><a class="comm_date post-date updated">{{detail.time|date:'medium'}}</a>
                    <!--AUTHOR-->
                    <i class="fa fa-user"></i><a class='vcard author post-author' href=""><span class='fn'>{{detail.author}}</span></a>
                    <!--COMMENTS COUNT-->
                    <i class="fa fa-comments-o"></i>
                    <div class="meta_comm"><a href="">{{detail.comment}}</a></div>
                    <!--CATEGORY LIST-->
                    <i class="fa fa-th-list"></i>
                    <div class="catag_list"><a href="" rel="category tag">{{detail.category}}</a></div>
                </div>
                <!--POST INFO END-->

                <!--POST CONTENT START-->
                <div class="thn_post_wrap">

                    <h1><img alt="Saturn V carrying Apollo 11" class="right" src="http://c.cksource.com/a/1/img/sample.jpg" /> Apollo 11</h1>

                    <p><strong>Apollo 11</strong> was the spaceflight that landed the first humans, Americans <a href="http://en.wikipedia.org/wiki/Neil_Armstrong">Neil Armstrong</a> and <a href="http://en.wikipedia.org/wiki/Buzz_Aldrin">Buzz Aldrin</a>, on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours later on July 21 at 02:56 UTC.</p>

                    <p>Armstrong spent about <s>three and a half</s> two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds (21.5&nbsp;kg) of lunar material for return to Earth. A third member of the mission, <a href="http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)">Michael Collins</a>, piloted the <a href="http://en.wikipedia.org/wiki/Apollo_Command/Service_Module">command</a> spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to Earth.</p>

                    <h2>Broadcasting and <em>quotes</em> <a id="quotes" name="quotes"></a></h2>

                    <p>Broadcast on live TV to a world-wide audience, Armstrong stepped onto the lunar surface and described the event as:</p>

                    <blockquote>
                        <p>One small step for [a] man, one giant leap for mankind.</p>
                    </blockquote>

                    <p>Apollo 11 effectively ended the <a href="http://en.wikipedia.org/wiki/Space_Race">Space Race</a> and fulfilled a national goal proposed in 1961 by the late U.S. President <a href="http://en.wikipedia.org/wiki/John_F._Kennedy">John F. Kennedy</a> in a speech before the United States Congress:</p>

                    <blockquote>
                        <p>[...] before this decade is out, of landing a man on the Moon and returning him safely to the Earth.</p>
                    </blockquote>

                    <h2>Technical details <a id="tech-details" name="tech-details"></a></h2>

                    <table align="right" border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-collapse:collapse">
                        <caption><strong>Mission crew</strong></caption>
                        <thead>
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">Astronaut</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Commander</td>
                                <td>Neil A. Armstrong</td>
                            </tr>
                            <tr>
                                <td>Command Module Pilot</td>
                                <td>Michael Collins</td>
                            </tr>
                            <tr>
                                <td>Lunar Module Pilot</td>
                                <td>Edwin &quot;Buzz&quot; E. Aldrin, Jr.</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Launched by a <strong>Saturn V</strong> rocket from <a href="http://en.wikipedia.org/wiki/Kennedy_Space_Center">Kennedy Space Center</a> in Merritt Island, Florida on July 16, Apollo 11 was the fifth manned mission of <a href="http://en.wikipedia.org/wiki/NASA">NASA</a>&#39;s Apollo program. The Apollo spacecraft had three parts:</p>

                    <ol>
                        <li><strong>Command Module</strong> with a cabin for the three astronauts which was the only part which landed back on Earth</li>
                        <li><strong>Service Module</strong> which supported the Command Module with propulsion, electrical power, oxygen and water</li>
                        <li><strong>Lunar Module</strong> for landing on the Moon.</li>
                    </ol>

                    <p>After being sent to the Moon by the Saturn V&#39;s upper stage, the astronauts separated the spacecraft from it and travelled for three days until they entered into lunar orbit. Armstrong and Aldrin then moved into the Lunar Module and landed in the <a href="http://en.wikipedia.org/wiki/Mare_Tranquillitatis">Sea of Tranquility</a>. They stayed a total of about 21 and a half hours on the lunar surface. After lifting off in the upper part of the Lunar Module and rejoining Collins in the Command Module, they returned to Earth and landed in the <a href="http://en.wikipedia.org/wiki/Pacific_Ocean">Pacific Ocean</a> on July 24.</p>

                    <hr />
                    <p><small>Source: <a href="http://en.wikipedia.org/wiki/Apollo_11">Wikipedia.org</a></small></p>


                </div>
                <div style="clear:both"></div>
                <div class="thn_post_wrap wp_link_pages">
                </div>
                <!--POST CONTENT END-->



                <!--POST FOOTER START-->
                <div class="post_foot">
                    <div class="post_meta">
                    </div>
                </div>
                <!--POST FOOTER END-->

            </div>
            <!--POST END-->
        </div>




        <!--NEXT AND PREVIOUS POSTS START-->

        <div id="ast_nextprev" class="navigation ">

            <span class="div_middle"><i class="fa fa-stop"></i></span>

            <div class="nav-box ast-prev navbox-noimg">
                <a href="" rel="prev"><i class="fa fa-angle-left"></i>Previous Post<br><span>{{previous.title}}</span></a>
                <div class="prev_cat_name">
                    <a href="">{{previous.category}}</a> </div>
            </div>
            <div class="nav-box ast-next navbox-noimg">
                <a href="" rel="next"><i class="fa fa-angle-right"></i>Next Post<br><span>{{next.title}}</span></a>
                <div class="next_cat_name">
                    <a href="">{{next.category}}</a> </div>
            </div>

        </div>
        <div class=""><span><a href="#/">Back to Home</a></span></div>
        <!--NEXT AND PREVIOUS POSTS END-->


        <!--COMMENT START: Calling the Comment Section. If you want to hide comments from your posts, remove the line below-->
        <div class="comments_template ">


            <!-- THE COMMENTS/PING TEMPLATE START -->

            <!-- If comments are open, but there are no comments. -->



            <!--COMMENT FORM START-->
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/alpaca/index.php/2016/01/21/intall-scala-2-11-in-ubuntu-12-04/#respond" style="display:none;">Cancel reply</a></small></h3>
                <form action="http://10.9.251.145/alpaca/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                    <div class="comm_wrap">
                        <p class="comment-form-author">
                            <input placeholder="Name" id="author" name="author" type="text" value="" size="30" aria-required='true' />
                        </p>
                        <p class="comment-form-email">
                            <input placeholder="Email" id="email" name="email" type="text" value="" size="30" aria-required='true' />
                        </p>
                        <p class="comment-form-url">
                            <input placeholder="Website" id="url" name="url" type="text" value="" size="30" />
                        </p>
                    </div>
                    <p class="comment-form-comment">
                        <label for="comment">Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
                    </p>
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                        <input type='hidden' name='comment_post_ID' value='194' id='comment_post_ID' />
                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                    </p>
                </form>
            </div>
            <!-- #respond -->
            <!--COMMENT FORM END-->
        </div>

        <!--COMMENT END-->


    </div>
</div>
